@tailwind base;
@tailwind components;
@tailwind utilities;

body, #root {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

/*#modal_container {*/
/*    width: 100vw;*/
/*    height: 100vh;*/
/*    background-color: transparent;*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    z-index: 10000;*/
/*    pointer-events: none;*/
/*    overflow: scroll;*/
/*}*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}